/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
  }
  
  html,
  body {
	height: 100%;
	font-family: "Titillium Web", sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
	font-family: "Bangers", cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
  }
  
  /* Copy and paste your work from yesterday here and start to refactor into flexbox */
  
  .container {
	width: 1000px;
	margin: 0 auto;
  }

  /* Tablet */

  @media (max-width: 800px) {
      .container {
          width: 95%;
      }
  }
  
  nav {
	margin-top: 20px;
	display: flex;
	height: 60px;
	align-items: center;
	justify-content: space-around;
  }

  /* Tablet */
  @media (max-width: 800px) {
    
    nav {
        flex-wrap: wrap;
        text-align: center;
        margin: 20px
    }

    nav a {
        margin: 20px;
    }

    #home {
        width: 100%;
        order: -1;
        margin: 12px 0;
      }
  }
  
  nav a {
	text-decoration: none;
	color: grey;
  }
  
  header {
	display: flex;
	justify-content: space-around;
	margin: 40px auto;
	align-items: center;
  }

  @media (max-width: 800px) {
      header {
          margin-bottom: 90px;
      }
  }
  
  header .left-container {
	display: flex;
	flex-direction: column;
	align-items: center;
  }

  /* Tablet */
  @media (max-width: 800px) {
      .left-container {
          margin-top: 75px;
      }
  }
  
  header h1 {
	font-size: 70px;
	text-align: center;
  }

  /* Tablet */
  @media (max-width: 800px) {
    .upper-image {
        display: none;
      }
  }
  
  .button {
	width: 50%;
	font-size: 20px;
	padding: 5px 10px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
  }
  
  .button a {
	text-decoration: none;
	color: black;
  }
  
  .divider {
    border-top: 2px solid black;
    width: 95%;
    margin: 0 auto;
  }
  
  .middle {
	margin: 30px 0;
  }

  .middle-top {
	display: flex;
	justify-content: space-around;
  }
  
  .top-container {
	width: 40%;
  }
  
  .middle-img {
	width: 95%;
	margin: 20px;
  }
  
  .middle-bottom {
	display: flex;
	justify-content: space-between;
	width: 95%;
	margin: 20px;
  }

  .bottom-container {
	width: 30%;
  }
  
  .contact {
	margin: 20px;
  }

  footer {
	text-align: center;
  }
